{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": [
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~", "./src"]
        ],

        "extensions": [".js",".ts", ".vue", ".scss"]
      }
    }
  }
}
