.accordion {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: url("@/assets/img/cursor-pointer.cur"), pointer;
  }

  &__title {
    font-size: 16px;
    margin: 0;
  }

  &__content {
    font-size: 14px;
    border-top: 2px solid rgb(var(--green));
    margin-top: 10px;

    &::v-deep(li) {
      margin-top: 8px;

      &:first-child {
        margin-top: 15px;
      }

      &:before {
        content: "- ";
      }
    }
  }

  &__toggle {
    background-color: rgb(var(--green));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    user-select: none;

    width: 24px;
    height: 24px;
    cursor: pointer;

    &:focus-visible {
      transform: scale(1.5);
    }

    &--active {
      transform: rotate(180deg);
    }
  }

  &__button {
    background-color: transparent;
    color: inherit;
    padding: 0;
  }

  &__toggle-symbol {
    margin-left: 1px;
    color: rgb(var(--black));
  }
}
