.label {
  padding: 8px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.5px;

  background-color: rgb(var(--green));
  color: rgb(var(--black));
}
