.experience {
  &__title {
    font-size: 18px;
    letter-spacing: -0.5px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__ul-item {
    margin-top: 5px;

    &:before {
      content: '-';
    }
  }
}
