@import "/node_modules/normalize.css";
@import "./variables";
@import "./fonts";

* { box-sizing: border-box; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

button {
  border: none;
}

vite-error-overlay {
  z-index: 9999;
}

/* stylelint-disable */
html,
body,
.app  {
  height: calc(var(--vh, 1vh) * 100);
}
/* stylelint-enable */

.app {
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  background-image: var(--app-background-gradient);

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 2000vw;
    height: 2000vh;
    opacity: 0.17;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    $size: 37px;
    $gap: 37px;
    $background-color: #4d4c4c;
    $square-color: #656565;

    background-image:
      linear-gradient($background-color $gap, transparent $gap),
      linear-gradient(to right, $background-color $gap, $square-color $gap);
    background-size: ($size + $gap) ($size + $gap);
    pointer-events: none;
  }
}
