:root {
  --pc-color: 185, 165, 107;
  --black: 21, 19, 19;
  --green: 75, 226, 60;
  --white: 255, 255, 255;
  --beige: 193, 172, 113;
  --pixel-font: "ZXS", sans-serif;
  --app-background-gradient: linear-gradient(190deg, #4e4c4c 0%, #161515 100%);
}
