.full-screen {
  border: none;
  background-color: transparent;
  display: inline-flex;
  cursor: pointer;
  padding: 5px;

  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    opacity: 1;
  }
}
