.history {
  min-height: 100%;
  padding-bottom: 50px;
  $stripeWidth: 4px;

  &__list {
    position: relative;
    min-height: 100%;
    margin-bottom: 50px;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    // stripe
    &:before {
      content: '';
      position: absolute;
      left: 20px;
      bottom: 0;
      top: 40px;
      width: $stripeWidth;

      background-color: rgb(var(--green));
    }

    // end point
    &:after {
      content: '8';
      bottom: 0;

      left: 20px;
      width: 30px;
      height: 30px;
      background-color: rgb(var(--black));

      color: rgb(var(--green));
      font-size: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      transform: translateX(calc(-50% + #{$stripeWidth} / 2))
        rotate(90deg);
    }
  }
}
