.stack {
  &__list {
    list-style-type: none;
    padding: 0;

    margin-top: 35px;
    margin-bottom: 20px;
  }

  &__item {
    display: grid;
    grid-template-columns: 0.75fr 1.15fr;
    align-items: center;
    gap: 10px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__item-tech {
    white-space: nowrap;
  }
}
