@use '@/styles/mixins' as *;

.home-page {
  padding: 20px 120px 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  max-width: 1920px;
  max-height: 1080px;
  margin: auto;
  position: relative;

  /* Table */
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 40vh;
    transform: translateX(-50%);

    background-color: #715833;
    border-bottom: 36px solid #5C4829;
    z-index: -1;

    box-shadow: 0px 50px 100px rgb(0, 0, 0, .5);
  }

  &__hot-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__menu {
    padding-top: 20px;
    margin-top: auto;
  }

  // Custom scroll
  &__scroll {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__screen {
    position: absolute;
    top: -30px;
    right: -30px;
  }

  &::v-deep(.ps__rail-y) {
    background-color: transparent;
  }

  &::v-deep(.ps__thumb-y) {
    width: 6px;
    border-radius: 0;
    background-color: rgb(var(--green));;
  }

  &__garland {
    position: fixed;
    z-index: 99;
    left: 50%;
    top: -90px;
    transform: translateX(-50%);
    pointer-events: none;
  }
}

@include notebook {
  .home-page {
    padding: 20px;

    &:after {
      border-bottom-width: 10px;
    }
  }
}

@include tablet {
  .home-page {
    padding: 0;

    &__garland {
      top: -125px;
    }

    &__hot-coffee,
    &__photos,
    &__screen {
      display: none;
    }
  }
}

@include phone {
  .home-page {
    &__garland {
      display: none;
    }
  }
}
