@use '@/styles/mixins' as *;

.home-page {
  padding: 20px 120px 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  /* Table */
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40vh;
    background-color: #715833;
    border-bottom: 36px solid #5C4829;
    z-index: -1;
  }

  &__hot-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include notebook {
  .home-page {
    padding: 20px;

    &:after {
      border-bottom-width: 10px;
    }
  }
}

@include tablet {
  .home-page {
    padding: 0;
  }
}

